@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Dancing+Script:wght@700&family=Noto+Sans+Osmanya&display=swap');

$colorFirst: #E1F0DA;
$colorSecond: #D4E7C5;
$colorThrid: #BFD8AF;
$colorFourth: #99BC85;

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
    

    background-color: $colorFourth;
}

.layout-content{
    display: flex;
    flex-direction: column;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;  

    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: $colorFirst;

    svg {
      fill: $colorFirst;
      width: 40px;
      margin-right: 10px;
    }
}

main {

    flex-grow: 1;

    .sheet-viewer-content{
        display: flex;
        justify-content: space-evenly;
    
        .metrics {
            display: flex;
            justify-content: center;
            flex-direction: column;
    
            button {
                width: 70px;
                height: 70px;
                margin: 5px;

                &.button-selected{
                    background-color: $colorThrid;
                    box-shadow: 0px 0px 8px white;
                }
            }
        }
    
        .chart-content {
            display: flex;
            justify-content: center;
        }
    
        .graphic-type-content{
            display: flex;
            justify-content: center;
            flex-direction: column;
    
            button {
                width: 70px;
                height: 40px;
                margin: 5px;

                &.button-selected{
                    background-color: $colorThrid;
                    box-shadow: 0px 0px 8px white;
                }
            }
        }

    }

    .sheet-controls-content {
        display: flex;
        justify-content: center;
    }

    .drop-file-area {
        height: 80%;
        padding: 20px;

        .dropzone-style{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            height: 90%;
            padding: 50px;
            border: 2px dashed $colorThrid;
            border-radius: 4px;
            
            color: $colorThrid;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;

            transition: .3s;

            cursor: pointer;

            svg {
                display: block;
                width: 50px;
                fill: $colorThrid;
            }

            .arrow-moving{
                opacity: .5;
                position: relative;
                top: 0px;

                animation: down-n-up .7s infinite;
            }

            &:hover {
                border: 2px dashed $colorFirst;
                color: $colorFirst;

                svg {
                    fill: $colorFirst;
                }
            }
        }
    }
}

footer {
    padding: 20px 0px;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: $colorFirst;
    font-size: .7rem;

    small {
        display: block;
    }
}

//Components
button {
    background-color: $colorThrid;
    border: 1px solid $colorFirst;
    border-radius: 5px;
    cursor: pointer;

    transition: .3s;

    &:hover {
        background-color: $colorFirst;
    }
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 30px;

    svg {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
}

//Media
@media(max-width: 800px){
    main {
        flex-direction: column-reverse;

        .chart-content {
            overflow-x: scroll;
        }

        .metrics, .graphic-type-content {
            flex-direction: row;
        }
    }
}

//Keyframe
@keyframes down-n-up {
    0% {
        top: 0px;
    }

    50% {
        opacity: 1;
        top: 10px;
    }
}